footer.footer
  .container
    .row
      .col-md-8
        strong !{ tr("About {company}", {company: "Fooody"}) }
        |         
        p
          | !{ tr("Fooody was built to demonstrate the Translation Exchange Localization Platform. The source code is available on our Github Account") }
        |         
        a(href='http://translationexchange.com') !{ tr("Learn more about {company}", {company: "Translation Exchange"}) }
      |       
      .col-md-4.text-right
        | Translation Exchange, Inc.