doctype html
html
  head
    title Foody
    link(href='http://fonts.googleapis.com/css?family=Roboto:400,300,500,700', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body(dir='#{tml_current_language.direction()}', data-spy='scroll', data-target='#nav-categories')
    include partials/header
    block content
    include partials/footer
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')